<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/gold-password-input/gold-password-input.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">



<dom-module id="add-movements">
  <template>

    <link rel="stylesheet" type="text/css" href="../../css/public_main_style.css">
    <link rel="stylesheet" type="text/css" href="../../css/public_main_responsive.css">

<div style="margin-top: 63px;"></div>
    <div class="card">
      <h4 style="background-color:white; padding:10px"> Account [[IBAN]]  -  Create Movement: </h4>
      </br>
      <paper-input label="Description" value="{{description::input}}"></paper-input>
      <paper-input label="Amount" value="{{amount::input}}"></paper-input>
    </div>
    <div class="error-page" style="float: right;padding: 15px;color:white; cursor:pointer">
       <a style="width: 300px;" on-click="createMovement">Create</a>
     </div>

    <span hidden$="{{!isCreated}}"> Created Movement Successfully </span>

    <iron-ajax
            id="createMovement"
            method="POST"
            url="http://localhost:3000/backend/private/v1/clients/{{userid}}/accounts/{{accountid}}/movements"
            content-type="application/json"
            headers= {{token}}
            handle-as="json"
            on-response="manageAJAXResponse"
            on-error="showError"
          >
  </template>

  <script>
    class AddMovements extends Polymer.Element {
      static get is() { return 'add-movements'; }
      static get properties() {
        return {
          userid : {
          type: String,
          value: sessionStorage.getItem('userId')
          }, accountid : {
          type: String,
          value: sessionStorage.getItem('accountId')
          }, IBAN : {
          type: String,
          value: sessionStorage.getItem('accountIBAN')
          }, description : {
            type: String
          }, amount : {
            type: Number
          }, balance : {
            type: Number
          }, create_date : {
            type: Date
          }, token: {
            type: Object,
            value: {"Authorization" : sessionStorage.getItem('token')}
          }, isCreated : {
            type: Boolean,
            value: false
          }
        };
      }

      createMovement () {
        console.log("El usuario ha pulsado el botón");

        this.create_date = new Date();
        console.log(this.create_date);

        var userData = {
          "description" : this.description,
          "amount" : this.amount,
          "total" : this.balance,
          "account_id" : this.accountid,
          "owner_id" : this.userid,
          "create_date" : this.create_date
        };



        this.$.createMovement.body = JSON.stringify(userData);
        this.$.createMovement.generateRequest();
        console.log ("Petición Enviada")

      }
      manageAJAXResponse(data){
        console.log("Recibida respuesta del servidor");
        console.log(data.detail.response.msg);
        console.log(data.detail.response);

        this.createdName=this.first_name;
        this.isCreated = true;
        this.respuesta=data.detail.response.msg;
        this.description = "";
        this.amount="";
        this.balance="";
        this.idaccount = "";
        this.iduser="";

        window.location.href="/dashboard/get-movements";

      }

      showError(error){
         console.log("Hubo un error");
         console.log(error);
      }
    }

    window.customElements.define(AddMovements.is, AddMovements);
  </script>
</dom-module>
