<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/gold-password-input/gold-password-input.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../../bower_components/neon-animation/animations/scale-up-animation.html">
<link rel="import" href="../../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="./get-users.html">
<link rel="import" href="./get-ibans.html">



<dom-module id="add-transfer">
  <template>

    <link rel="stylesheet" type="text/css" href="../../css/public_main_style.css">
    <link rel="stylesheet" type="text/css" href="../../css/public_main_responsive.css">

    <div style="margin-top: 63px;"></div>
      <div class="card">
      <h4 style="background-color:white;padding: 10px;"> Account [[IBAN]]  -  Create Transfer </h4>
      </br>
      <paper-input label="Recipient" value="{{recipient::input}}"  on-click="openModalRecipient"></paper-input>
      <paper-input label="Destination Account" value="{{IBAN_GOAL::input}}"  on-click="openModalDestination"></paper-input>
      <paper-input label="Description" value="{{description::input}}"></paper-input>
      <paper-input label="Amount" value="{{amount::input}}"></paper-input>
    </div>
      <div class="error-page" style="float: right;padding: 15px;color:white; cursor:pointer">
         <a style="width: 300px;" on-click="createTransfer">Create</a>
    </div>
    <paper-dialog id="modalRecipient">
        <button type="button" class="close" style="padding: 10px;" data-dismiss="modal" aria-label="Close" dialog-confirm autofocus><span aria-hidden="true">×</span></button>
        <get-users on-eventuser="processEventUser"></get-users>
        <div class="buttons">
          <paper-button class="btn btn-primary" dialog-confirm autofocus>Accept</paper-button>
          <!--<paper-button class="btn btn-primary" dialog-dismiss>Cancel</paper-button>-->
        </div>
    </paper-dialog>
    <paper-dialog id="modalDestination">
        <button type="button" class="close" style="padding: 10px;" data-dismiss="modal" aria-label="Close" dialog-confirm autofocus><span aria-hidden="true">×</span></button>
        <get-ibans id="receiver" on-eventaccount="processEventAccount"></get-ibans>
        <div class="buttons">
          <paper-button class="btn btn-primary" dialog-confirm autofocus>Accept</paper-button>
          <!--<paper-button class="btn btn-primary" dialog-dismiss>Cancel</paper-button>-->
        </div>
    </paper-dialog>
    <span hidden$="{{!isCreated}}"> Created Transfer Successfully </span>

    <iron-ajax
            id="createTransfer"
            method="POST"
            url="http://localhost:3000/backend/private/v1/clients/{{userid}}/accounts/{{accountid}}/transfer"
            content-type="application/json"
            headers= {{token}}
            handle-as="json"
            on-response="manageAJAXResponse"
            on-error="showError"
          >



  </template>

  <script>
    class AddTransfer extends Polymer.Element {
      static get is() { return 'add-transfer'; }
      static get properties() {
        return {
          userid : {
          type: String,
          value: sessionStorage.getItem('userId')
          }, accountid : {
          type: String,
          value: sessionStorage.getItem('accountId')
          }, IBAN : {
          type: String,
          value: sessionStorage.getItem('accountIBAN')
          }, recipient : {
          type: String,
          }, account_goal : {
          type: String,
          }, owner_goal : {
          type: String,
          value: sessionStorage.getItem('owner_goal')
          }, description : {
            type: String
          }, amount : {
            type: Number
          }, balance : {
            type: Number
          }, create_date : {
            type: Date
          }, token: {
            type: Object,
            value: {"Authorization" : sessionStorage.getItem('token')}
          }, isCreated : {
            type: Boolean,
            value: false
          }
        };
      }
      openModalDestination(){
        console.log("owner_goal:" + this.owner_goal);
        this.$.modalDestination.open();
      }

      openModalRecipient(){
        console.log("openModal Recipient");
        this.$.modalRecipient.open();
        //  console.log(this.$.modalRecipient.closingReason);
      }

      createTransfer () {
        console.log("El usuario ha pulsado el botón");

        this.create_date = new Date();
        console.log(this.create_date);

        var transferData = {
          "description" : this.description,
          "amount" : this.amount,
          "total" : this.balance,
          "account_id" : this.accountid,
          "owner_id" : this.userid,
          "IBAN": this.IBAN,
          "account_goal": this.account_goal,
          "owner_goal": this.owner_goal,
          "IBAN_GOAL": this.IBAN_GOAL,
          "create_date" : this.create_date
        };
        console.log(transferData);


        this.$.createTransfer.body = JSON.stringify(transferData);
        this.$.createTransfer.generateRequest();
        console.log ("Petición Enviada")

      }
      manageAJAXResponse(data){
        console.log("Recibida respuesta del servidor");
        console.log(data.detail.response.msg);
        console.log(data.detail.response);

        this.createdName=this.first_name;
        this.isCreated = true;
        this.respuesta=data.detail.response.msg;
        this.description = "";
        this.amount="";
        this.balance="";
        this.idaccount = "";
        this.iduser="";
        this.account_goal="";
        this.owner_goal="";
        this.IBAN_GOAL="";
        this.recipient="";

          window.location.href="/dashboard/get-movements";
      }

      showError(error){
         console.log("Hubo un error");
         console.log(error);
      }

      processEventUser(e) {
        console.log("Capturado evento del emisor");
        //console.log(e);
        console.log(this.$.receiver.owner_goal);

        //Esto es trampa porque hemos accedido un metodo para acceder, lo correcto es acceder a una propiedad
        //this.$.receiver.showData(e.detail);
         //Lo correcto es acceder a una propiedad:
        this.recipient = e.detail.recipient;
        this.owner_goal = e.detail.owner_goal;
        this.$.receiver.owner_goal= e.detail.owner_goal;
      }

      processEventAccount(e) {
        console.log("Capturado evento del emisor");



        //Esto es trampa porque hemos accedido un metodo para acceder, lo correcto es acceder a una propiedad
        //this.$.receiver.showData(e.detail);
         //Lo correcto es acceder a una propiedad:
        this.IBAN_GOAL = e.detail.IBAN_GOAL;
        this.account_goal = e.detail.account_goal;
        //this.$.receiver.owner_goal= e.detail.owner_goal;
      }

    }

    window.customElements.define(AddTransfer.is, AddTransfer);
  </script>
</dom-module>
