<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">

<dom-module id="add-wallet">
  <template>
    <style>
    .alert-error {
      background: #ffcdd2;
      border: 1px solid #f44336;
      border-radius: 3px;
      color: #333;
      font-size: 14px;
      padding: 10px;
    }
    </style>

    <link rel="stylesheet" type="text/css" href="../../css/public_main_style.css">
  <!--<link rel="stylesheet" type="text/css" href="../../css/public_main_responsive.css">-->
  <div class="modal-header">
    <h4 class="modal-title" id="myModalLabel">Add Wallet</h4>
  </div>
  <div class="modal-body " style="width: 650px;height: 200px;"  hidden$="{{loading}}">
    <template is="dom-if" if="[[respuesta]]">
      <p class="alert-error"><strong>Error:</strong> [[respuesta]]</p>
    </template>
    <paper-dropdown-menu label="Coins" >
      <paper-listbox  slot="dropdown-content" selected="{{selectedIndex}}">
        <paper-item><img src="../../images/coins/BTC.png" width="20px"> Bitcoins BTC</paper-item>
        <paper-item><img src="../../images/coins/ETH.png" width="20px"> Ethereum ETH</paper-item>
        <paper-item><img src="../../images/coins/LTC.png" width="20px"> Litecoin LTC</paper-item>
        <paper-item><img src="../../images/coins/XRP.png" width="20px"> Ripple XRP</paper-item>
        <paper-item><img src="../../images/coins/PPC.png" width="20px"> Per2PerCoin PPC</paper-item>
      </paper-listbox>
    </paper-dropdown-menu>
    <div style="float:right">
      <img src="../../images/coins/wallet.png" width="150px">
    </div>
  </div>
  <div class="modal-footer" hidden$="{{loading}}">
    <div style="float:right;">
      <button type="button" class="btn btn-success" on-click="addWallet">ADD</button>
    </div>
  </div>
  <div class="modal-body" style="width: 550px;height:200px;"  hidden$="{{!loading}}">
    <img src="../../images/catLoading.gif" height="170px">
  </div>
        <iron-ajax
                id="addWalletIronAjax"
                url="http://localhost:3000/backend/private/v1/clients/{{userid}}/accounts/{{accountid}}/wallets"
                headers= {{token}}
                content-type="application/json"
                method="POST"
                handle-as="json"
                on-response="manageAJAXResponse"
                on-error="showError"
              >
  </template>

  <script>
    class AddWallet extends Polymer.Element {
      static get is() { return 'add-wallet'; }
      static get properties() {
        return {
          userid : {
            type: String,
            value: sessionStorage.getItem('userId')
          },accountid : {
            type: String,
            value: sessionStorage.getItem('accountId')
          }, respuesta : {
            type: String
          }, token: {
            type: Object,
            value: {"Authorization" : sessionStorage.getItem('token')}
          },loading:{
            type: Boolean,
            value: false
          },selectedIndex:{
            type: Number,
            value: 0
          },respuesta:{
            type: String
          },eventVar:{
            type: String,
            observer: '_eventVarChanged'
          }
        };
      }

      addWallet(){
        console.log(this.selectedIndex);
        var Coin ="BTC";
        if(this.selectedIndex == 0){Coin="BTC";}
        if(this.selectedIndex == 1){Coin="ETH";}
        if(this.selectedIndex == 2){Coin="LTC";}
        if(this.selectedIndex == 3){Coin="XRP";}
        if(this.selectedIndex == 4){Coin="PPC";}
        this.loading = true;
        var walletData = {
          "id_account" : this.accountid,
          "coinType" : Coin
        };

        this.$.addWalletIronAjax.body = JSON.stringify(walletData);
        this.$.addWalletIronAjax.generateRequest();
      }



      manageAJAXResponse(data){
        console.log("Recibida respuesta del servidor");
        console.log(data.detail.response);

        sessionStorage.setItem('token', data.detail.response.token);
        this.loading = false;
        window.location.href = '/dashboard/get-wallets';
      }

      showError(error){
         this.loading = false;
         console.log("Hubo un error");
         console.log(error.detail);
         this.respuesta = error.detail.request.response.msg;
         this.loading = false;
      }

      _eventVarChanged(accountId,b){
        console.log("add-wallet event , accountId: " + accountId);
        this.accountid= accountId;
      }
    }

    window.customElements.define(AddWallet.is, AddWallet);
  </script>
</dom-module>
