<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">


<link rel="import" href="./get-user.html">
<link rel="lazy-import" href="./get-wallets.html">
<link rel="lazy-import" href="./add-wallet.html">
<link rel="lazy-import" href="./get-accounts.html">
<link rel="lazy-import" href="./get-users.html">
<link rel="lazy-import" href="./get-movements.html">
<link rel="lazy-import" href="./add-movements.html">
<link rel="lazy-import" href="./add-transfer.html">
<link rel="lazy-import" href="./get-coinchart.html">
<link rel="lazy-import" href="../my-view404.html">

<dom-module id="dashboard-app">
  <template>
    <link rel="stylesheet" type="text/css" href="css/public_main_style.css">
    <style>
      :host {
        --app-primary-color: #4285f4;
        --app-secondary-color: black;

        display: block;
      }

      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }

      app-header {
        color: white;
        background-color: #3367d6;
      }

      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }

      .drawer-list {
        margin: 0 20px;
      }

      .drawer-list a {
        display: block;
        padding: 0 16px;
        text-decoration: none;
        color: var(--app-secondary-color);
        line-height: 40px;
      }

      .drawer-list a.iron-selected {
        color: black;
        font-weight: bold;
      }
    </style>




      <app-header-layout >
        <app-header slot="header" condenses reveals effects="waterfall">
          <app-toolbar>
            <!--<paper-icon-button icon="my-icons:menu" drawer-toggle></paper-icon-button>-->
              <div class="main-header-menu-wrapper clearfix">
    						<!-- Logo -->
    						<div class="logo float-left">
                  <img style="max-width: 45px;" src="images/home/Logo.png" alt="Logo">
                </div>
                <div style="margin-left: 45px;">
                  <h1 class="wow fadeInUp" style="font-size: 38px;line-height: 45px;visibility: visible; animation-name: fadeInUp; color: white;">
                    Saveless Bank
                  </h1>
                </div>
    					</div>
          </app-toolbar>
        </app-header>

        <app-location
            route="{{route}}"
            url-space-regex="^[[rootPath]]">
        </app-location>

        <app-route
            route="{{route}}"
            pattern="[[rootPath]]:page"
            data="{{routeData}}"
            tail="{{subroute}}">
        </app-route>

        <app-drawer-layout has-scrolling-region fullbleed narrow="{{narrow}}">
          <!--container-->
          <iron-pages
              selected="[[page]]"
              attr-for-selected="name"
              fallback-selection="view404"
              role="main">
            <get-accounts name="get-accounts"  on-eventselectaccountaction="processSelectEventAccount"></get-accounts>
            <get-users name="get-users"></get-users>
            <get-movements id="getMovements" name="get-movements"></get-movements>
            <add-movements name="add-movements"></add-movements>
            <get-coinchart name="get-coinchart"></get-coinchart>
            <get-wallets id="getWallets" name="get-wallets"></get-wallets>
            <add-wallet name="add-wallet"></add-wallet>
            <add-transfer name="add-transfer"></add-transfer>
          </iron-pages>
          <iron-icon icon="example:location"></iron-icon>
          <!-- Drawer content -->

          <app-drawer id="drawer" slot="drawer" swipe-open="[[narrow]]">

            <get-user></get-user>
            <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
            <!--  <a name="get-user" href="[[rootPath]]dashboard/get-user" on-click="bar">
                <iron-icon icon="icons:assignment-ind"></iron-icon>
                Mi usuario</a>-->
              <a name="get-accounts" href="[[rootPath]]dashboard/get-accounts" on-click="bar">
                <iron-icon icon="icons:account-balance"></iron-icon>cuentas
              </a>
            <!--  <a name="get-movements" href="[[rootPath]]dashboard/get-movements" on-click="bar">
                <iron-icon icon="icons:pageview"></iron-icon>ver movientos</a>-->
          <!--    <a name="add-movements" href="[[rootPath]]dashboard/add-movements" on-click="bar">add movien</a>-->
            <!--  <a name="get-coinchart" href="[[rootPath]]dashboard/get-coinchart" on-click="bar">chart</a>-->
            <!--  <a name="get-wallets" href="[[rootPath]]dashboard/get-wallets" on-click="bar">wallets</a>-->
            <!--  <a name="add-transfer" href="[[rootPath]]dashboard/add-transfer" on-click="bar">Transfer</a>-->
              <!--<a href="#">{{page}}</a>-->
              <a name="get-coinchart" href="[[rootPath]]dashboard/get-coinchart" on-click="bar">
              <iron-icon icon="icons:language"></iron-icon>Market</a>
            <!--  <a name="get-wallets" href="[[rootPath]]dashboard/get-wallets" on-click="bar">wallets</a>-->
            <!--  <a href="#">debug: {{page}}</a>-->
              <a href="/" on-click="logOut"><iron-icon icon="icons:exit-to-app"></iron-icon> Log out </a>
            </iron-selector>

          </app-drawer>
        </app-drawer-layout>

      </app-header-layout>

  </template>

  <script>
    // Gesture events like tap and track generated from touch will not be
    // preventable, allowing for better scrolling performance.
    Polymer.setPassiveTouchGestures(true);

    class DashboardApp extends Polymer.Element {
      static get is() { return 'dashboard-app'; }

      static get properties() {
        return {
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
          },
          userid : {
            type: String,
            value: sessionStorage.getItem('userId')
          },
          routeData: Object,
          subroute: Object,
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
        };
      }

      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
        ];
      }

      bar(event){
        console.log(event.srcElement.name);
        this.page = event.srcElement.name;
      }

      logOut(event){
        sessionStorage.clear();
          window.location.href = '/';
      }


      _routePageChanged(page) {
        console.log('page change to: ' + page);
        // If no page was found in the route data, page will be an empty string.
        // Default to 'view1' in that case.
        this.page = page || 'get-accounts';

        // Close a non-persistent drawer when the page & route are changed.
        if (!this.$.drawer.persistent) {
          this.$.drawer.close();
        }
      }

      _pageChanged(page) {
        // Load page import on demand. Show 404 page if fails
        const resolvedPageUrl = this.resolveUrl( page + '.html');
        console.log("pageChanged: " + resolvedPageUrl);
        Polymer.importHref(
            resolvedPageUrl,
            null,
            this._showPage404.bind(this),
            true);
      }

      _showPage404() {
        this.page = 'view404';
      }

      processSelectEventAccount(e) {
        console.log("processSelectEventAccount");
        console.log(e);
        this.page = e.detail.page;
        if(this.page == 'get-wallets'){
          this.$.getWallets.eventVar=sessionStorage.getItem('accountId');
        }
        if(this.page == 'get-movements'){
          this.$.getMovements.eventVar=sessionStorage.getItem('accountId');
        }
      }
    }

    window.customElements.define(DashboardApp.is, DashboardApp);
  </script>
</dom-module>
