<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/gold-password-input/gold-password-input.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/simple-material-table/simple-material-table.html">

<dom-module id="get-users">
  <template>
    <style>
    .alert-error {
      background: #ffcdd2;
      border: 1px solid #f44336;
      border-radius: 3px;
      color: #333;
      font-size: 14px;
      padding: 10px;
    }
    </style>

    <link rel="stylesheet" type="text/css" href="../../css/public_main_style.css">
    <link rel="stylesheet" type="text/css" href="../../css/public_main_responsive.css">



      <simple-material-table id="demo" title="Chose Recipent" columns="[[columnas]]" table-data="{{users}}"  on-row-selected="_onRowSelected">
      </simple-material-table>
       <!--<button type="button" class="btn btn-primary" on-click="sendEvent">sendEvent</button>-->

        <iron-ajax
                auto =""
                id="getUserIronAjax"
                url="http://localhost:3000/backend/public/v1/clients"
                content-type="application/json"
                handle-as="json"
                on-response="manageAJAXResponse"
                on-error="showError"
              >
    </template>


  <script>
    class GetUsers extends Polymer.Element {
      static get is() { return 'get-users'; }
      static get properties() {
        return {
            userid : {
            type: String
          }, users: {
            type: Array
          }, token: {
            type: Object,
            value: {"Authorization" : sessionStorage.getItem('token')}
          }
        };
      }

      _onRowSelected(data) {
          console.log('_onRowSelected', data.detail);
          //console.log('_onRowSelected', data.detail.IBAN);
          //this.accountid=data.detail.id;
         sessionStorage.setItem('owner_goal', data.detail.id);
          //sessionStorage.setItem('recipient', data.detail.first_name + ' ' + data.detail.last_name);

          this.dispatchEvent(
            new CustomEvent(
              "eventuser",
              {
                "detail" :
                {
                  "owner_goal" :  data.detail.id,
                  "recipient" : data.detail.first_name + ' ' + data.detail.last_name
                }
              }
            )
          ); //Main dispatchEvent
          //document.querySelector("dashboard-app").page = "add-transfer";
          //window.location.href =  "/dashboard/add-transfer";
        }



      constructor() {
        super();
        this.columnas = [{
          title: "last_name",
          number: false,
          column: 'last_name',
          hidden: false
        }, {
          title: "first_name",
          number: false,
          column: 'first_name',
          hidden: false
        }, {
          title: "owner_goal",
          number: false,
          column: 'id',
          hidden: true
        }];


    }


      manageAJAXResponse(data){
        console.log("Recibida respuesta del servidor de usuarios");
        console.log(data.detail.response);
        this.users = data.detail.response;

        //window.location.href = '/main';
        //this.loading = false;
      }

      showError(error){
         this.loading = false;
         console.log("Hubo un error");
         console.log(error.detail.request.response.msg);
         this.respuesta = error.detail.request.response.msg;
      }

      sendEvent(e) {
         console.log("Se ha pulsado el botón");
         console.log(e);

         this.dispatchEvent(
           new CustomEvent(
             "myevent",
             {
               "detail" :
               {
                 "recipient" :  sessionStorage.getItem('recipient'),
                 "owner_goal" : sessionStorage.getItem('owner_goal')
               }
             }
           )
         ); //Main dispatchEvent
      }

    }

    window.customElements.define(GetUsers.is, GetUsers);
  </script>
</dom-module>
