<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/simple-material-table/simple-material-table.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../../bower_components/neon-animation/animations/scale-up-animation.html">
<link rel="import" href="../../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="./wallet-board.html">
<link rel="import" href="./add-wallet.html">

<dom-module id="get-wallets">
  <template>
    <style>
    </style>

    <link rel="stylesheet" type="text/css" href="../../css/public_main_style.css">
  <!--  <link rel="stylesheet" type="text/css" href="../../css/public_main_responsive.css">-->
  <div style="margin-top:48px"></div>
    <div class="card">
      <simple-material-table id="demo" title="Account: {{IBAN}}" columns="[[columnas]]" table-data="{{wallets}}"  on-row-selected="_onRowSelected">
      </simple-material-table>
    </div>
  <paper-dialog id="modalWalletOps" entry-animation="scale-up-animation" on-iron-overlay-closed="_myClosedFunction">
      <button type="button" class="close" style="padding: 10px;" data-dismiss="modal" aria-label="Close" dialog-confirm autofocus><span aria-hidden="true">×</span></button>
      <wallet-board idwallet={{idwallet}} cointype={{cointype}} walletcoins={{coinBalance}} walleturl={{walletAddress}} ></wallet-board>
  </paper-dialog>

  <paper-dialog id="modalWalletAdd" entry-animation="scale-up-animation">
      <button type="button" class="close" style="padding: 10px;" data-dismiss="modal" aria-label="Close" dialog-confirm autofocus><span aria-hidden="true">×</span></button>
      <add-wallet id="addWallet"></add-wallet>
  </paper-dialog>
  <div class="error-page" style="float: right;padding: 15px;color:white; cursor:pointer">
    <a on-click="openNewWallet">Add wallet</a>
  </div>
        <iron-ajax
                id="getWalletIronAjax"
                url="http://localhost:3000/backend/private/v1/clients/{{userid}}/accounts/{{accountid}}/wallets"
                content-type="application/json"
                headers= {{token}}
                auto =""
                handle-as="json"
                on-response="manageAJAXResponse"
                on-error="showError"
              >

  </template>

  <script>
    class GetWallets extends Polymer.Element {
      static get is() { return 'get-wallets'; }
      static get properties() {
        return {
          userid : {
            type: String,
            value: sessionStorage.getItem('userId')
          }, respuesta : {
            type: String
          }, accountid : {
            type: String,
            value: sessionStorage.getItem('accountId')
          },IBAN:{
            type:String,
            value: sessionStorage.getItem('accountIBAN')
          }, token: {
            type: Object,
            value: {"Authorization" : sessionStorage.getItem('token')}
          },loading:{
            type: Boolean,
            value: false
          }, wallets: {
            type: Array
          },cointype: {
            type: String
          },coinBalance:{
            type:Number
          },walletAddress:{
            type: String
          },idwallet:{
            type: String
          },eventVar: {
            type: String,
            observer: '_eventVarChanged'
          }
        };
      }

      constructor() {
        super();
        this.columnas = [{
          title: "Coin Wallet",
          number: false,
          column: 'coinType',
          hidden: false
        }, {
          title: "Balance",
          number: true,
          column: 'balance',
          hidden: false
        }, {
          title: "idaccount",
          number: false,
          column: 'id',
          hidden: true
        }];
     }

     _onRowSelected(data) {
         sessionStorage.setItem('walletId', data.detail.id);
         this.cointype = data.detail.coinType;
         this.coinBalance = data.detail.balance;
         this.walletAddress = data.detail.walletAddress;
         this.idwallet = data.detail.id;
         this.$.modalWalletOps.open();
       }

       _myClosedFunction(){
         this.$.getWalletIronAjax.generateRequest();
       }

      manageAJAXResponse(data){
        console.log("Recibida respuesta del servidor de getWallets");
        console.log(data.detail.response);

        sessionStorage.setItem('token', data.detail.response.token);
        this.wallets = data.detail.response.data;

      }

      showError(error){
         this.loading = false;
         console.log("Hubo un error");
         console.log(error.detail.request.response.msg);
         this.respuesta = error.detail.request.response.msg;
      }

      openNewWallet(){
        this.$.modalWalletAdd.open();
      }

      _eventVarChanged(accountId,b){
        this.$.addWallet.eventVar= accountId;
        this.accountid = accountId;
        this.IBAN = sessionStorage.getItem('accountIBAN');
        this.$.getWalletIronAjax.generateRequest();
      }
    }

    window.customElements.define(GetWallets.is, GetWallets);
  </script>
</dom-module>
