<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/highcharts-chart/highcharts-chart.html">

<dom-module id="get-coinchart">
  <template>
    <style>
    </style>

    <link rel="stylesheet" type="text/css" href="../../css/public_main_style.css">
    <link rel="stylesheet" type="text/css" href="../../css/public_main_responsive.css">

    <div style="height: 75px;"></div>
    <div style="float:left;padding:40px">
      <h3 >Bitcoin Hitorical Price Market</h3>
    </div>
    <div style="float:right;padding:20px">
      <img src="../../images/coins/BTC.png" width="60px">
    </div>
    <highcharts-chart id="BTCchart" type="spline"
     vs-time x-label="Date" y-label="EUR / price"></highcharts-chart>
     <div style="float:left;padding:40px">
       <h3 >Ethereum Hitorical Price Market</h3>
     </div>
     <div style="float:right;padding:20px">
       <img src="../../images/coins/ETH.png" width="60px">
     </div>
    <highcharts-chart id="ETHchart" type="spline"
      vs-time x-label="Date" y-label="EUR / price"></highcharts-chart>
      <div style="float:left;padding:40px">
        <h3 >Litecoin Hitorical Price Market</h3>
      </div>
      <div style="float:right;padding:20px">
        <img src="../../images/coins/LTC.png" width="60px">
      </div>
    <highcharts-chart id="LTCchart" type="spline"
        vs-time x-label="Date" y-label="EUR / price"></highcharts-chart>
        <div style="float:left;padding:40px">
          <h3 >Ripple Hitorical Price Market</h3>
        </div>
        <div style="float:right;padding:20px">
          <img src="../../images/coins/XRP.png" width="60px">
        </div>
    <highcharts-chart id="XRPchart" type="spline"
        vs-time x-label="Date" y-label="EUR / price"></highcharts-chart>
        <div style="float:left;padding:40px">
          <h3 >Per2PerCoin Hitorical Price Market</h3>
        </div>
        <div style="float:right;padding:20px">
          <img src="../../images/coins/PPC.png" width="60px">
        </div>
    <highcharts-chart id="PPCchart" type="spline"
        vs-time x-label="Date" y-label="EUR / price"></highcharts-chart>

    <iron-ajax id="getHistoricalIronAjax"
        url="http://localhost:3000/backend/public/v1/coinValue/{{coin}}/historical"
        content-type="application/json"
        auto = ""
        handle-as="json"
        on-response="manageAJAXResponse"
        on-error="showError">
    </template>


  <script>
    class GetCoinchart extends Polymer.Element {
      static get is() { return 'get-coinchart'; }
      static get properties() {
        return {
            coin : {
              type: String,
              value: 'BTC'
            },
            dataSplite:{
              type: Object
            }
        };
      }

      manageAJAXResponse(data){
        console.log("Recibida respuesta del servidor de historical price of coins");
        console.log(data.detail.response);
        var value = data.detail.response;
        this.dataSplite = value;
        if(this.coin == 'BTC'){
          this.$.BTCchart.setData(value);
          this.coin = 'ETH';
          this.getHistoricalIronAjax.generateRequest();
        }
        if(this.coin == 'ETH'){
          this.$.ETHchart.setData(value);
          this.coin = 'LTC';
          this.getHistoricalIronAjax.generateRequest();
        }
        if(this.coin == 'LTC'){
          this.$.LTCchart.setData(value);
          this.coin = 'XRP';
          this.getHistoricalIronAjax.generateRequest();
        }
        if(this.coin == 'XRP'){
          this.$.XRPchart.setData(value);
          this.coin = 'PPC';
          this.getHistoricalIronAjax.generateRequest();
        }
        if(this.coin == 'PPC'){
          this.$.PPCchart.setData(value);
          this.coin = 'BTC';
        }



        //window.location.href = '/main';
        //this.loading = false;
      }

      showError(error){
         this.loading = false;
         console.log("Hubo un error");
         console.log(error.detail.request.response.msg);

      }
    }

    window.customElements.define(GetCoinchart.is, GetCoinchart);
  </script>
</dom-module>
