<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/gold-password-input/gold-password-input.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/simple-material-table/simple-material-table.html">

<dom-module id="get-ibans">
  <template>
    <style>
    .alert-error {
      background: #ffcdd2;
      border: 1px solid #f44336;
      border-radius: 3px;
      color: #333;
      font-size: 14px;
      padding: 10px;
    }
    </style>

    <link rel="stylesheet" type="text/css" href="../../css/public_main_style.css">
    <link rel="stylesheet" type="text/css" href="../../css/public_main_responsive.css">



      <simple-material-table id="demo" title="Chose Recipent" columns="[[columnas]]" table-data="{{ibans}}"  on-row-selected="_onRowSelected">
      </simple-material-table>
       <!--<button type="button" class="btn btn-primary" on-click="sendEvent">sendEvent</button>-->

        <iron-ajax
                auto =""
                id="getUserIronAjax"
                url="http://localhost:3000/backend/public/v1/clients/{{owner_goal}}/accounts"
                content-type="application/json"
                handle-as="json"
                on-response="manageAJAXResponse"
                on-error="showError"
              >
    </template>


  <script>
    class GetIBANs extends Polymer.Element {
      static get is() { return 'get-ibans'; }
      static get properties() {
        return {
            owner_goal : {
            type: String,
            value: sessionStorage.getItem('owner_goal')
          }, ibans: {
            type: Array
          }, token: {
            type: Object,
            value: {"Authorization" : sessionStorage.getItem('token')}
          }
        };
      }

      _onRowSelected(data) {
          console.log('_onRowSelected', data.detail);
          console.log('_onRowSelected', data.detail.IBAN);
          //this.accountid=data.detail.id;
          //sessionStorage.setItem('owner_goal', data.detail.id);
          //sessionStorage.setItem('recipient', data.detail.first_name + ' ' + data.detail.last_name);

          this.dispatchEvent(
            new CustomEvent(
              "eventaccount",
              {
                "detail" :
                {
                  "account_goal" :  data.detail.id,
                  "IBAN_GOAL" : data.detail.IBAN
                }
              }
            )
          ); //Main dispatchEvent
          //document.querySelector("dashboard-app").page = "add-transfer";
          //window.location.href =  "/dashboard/add-transfer";
        }



      constructor() {
        super();
        this.columnas = [{
          title: "IBAN",
          number: false,
          column: 'IBAN',
          hidden: false
        }, {
          title: "account_goal",
          number: false,
          column: 'id',
          hidden: true
        }];


    }


      manageAJAXResponse(data){
        console.log("owner_goal: " + this.owner_goal)
        console.log("Recibida respuesta del servidor de ibanes");
        console.log(data.detail.response);
      this.ibans = data.detail.response.data;

        //window.location.href = '/main';
        //this.loading = false;
      }

      showError(error){
         this.loading = false;
         console.log("Hubo un error");
         console.log(error.detail.request.response.msg);
         this.respuesta = error.detail.request.response.msg;
      }



    }

    window.customElements.define(GetIBANs.is, GetIBANs);
  </script>
</dom-module>
