<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/gold-password-input/gold-password-input.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/simple-material-table/simple-material-table.html">

<dom-module id="get-movements">
  <template>
    <style>
    .alert-error {
      background: #ffcdd2;
      border: 1px solid #f44336;
      border-radius: 3px;
      color: #333;
      font-size: 14px;
      padding: 10px;
    }
    
    </style>

    <link rel="stylesheet" type="text/css" href="../../css/public_main_style.css">
    <link rel="stylesheet" type="text/css" href="../../css/public_main_responsive.css">

  <div style="margin-top:48px"></div>
    <div class="card">
      <simple-material-table id="demo" title="Account: {{IBAN}}" columns="[[columnas]]" table-data="{{movements}}"  on-row-selected="_onRowSelected" sortColumnAsc="false" sortColumnIndex="1" >
      </simple-material-table>
    </div>
    <div class="error-page" style="float: right;padding: 15px;color:white; cursor:pointer">
      <a style="width: 300px;" on-click="addTransfer">Create Transfer</a>
    </div>
    <div class="error-page" style="float: left;padding: 15px;color:white; cursor:pointer">
      <a style="width: 300px;" on-click="addMovement">Create Movement</a>
    </div>

        <iron-ajax
                auto =""
                id="getMovementsIronAjax"
                url="http://localhost:3000/backend/private/v1/clients/{{userid}}/accounts/{{accountid}}/movements"
                content-type="application/json"
                headers= {{token}}
                handle-as="json"
                on-response="manageAJAXResponse"
                on-error="showError"
              >
    </template>


  <script>
    class GetMovements extends Polymer.Element {
      static get is() { return 'get-movements'; }
      static get properties() {
        return {
            userid : {
            type: String,
            value: sessionStorage.getItem('userId')
          }, balance : {
            type: Number
          }, IBAN : {
            type: String,
            value: sessionStorage.getItem('accountIBAN')
          }, movements: {
            type: Array
          }, token: {
            type: Object,
            value: {"Authorization" : sessionStorage.getItem('token')}
          }, accountid: {
            type: String,
            value: sessionStorage.getItem('accountId')
          }, eventVar: {
            type: String,
            observer: '_eventVarChanged'
          }
        };
      }

      constructor() {
        super();

        this.columnas = [{
          title: "sDate",
          number: false,
          column: 'sort_date',
          hidden: true
        }, {
          title: "Date",
          number: false,
          column: 'create_date',
          hidden: false
        }, {
          title: "Description",
          number: false,
          column: 'description',
          hidden: false

        }, {
          title: "Amount",
          number: true,
          column: 'amount',
          formatter: function (value) {
            return parseFloat(value).toFixed(0);
          },
          hidden: false
        }, {
          title: "Balance",
          number: true,
          column: 'total',
          formatter: function (value) {
            return parseFloat(value).toFixed(0);
          },
          hidden: false
        }, {
          title: "idmovement",
          number: false,
          column: 'account_id',
          hidden: true
        }];


    }

      addMovement() {
        //this.accountid=data.detail.id;
        //sessionStorage.setItem('accountId', data.detail.id);
        document.querySelector("dashboard-app").page = "add-movements";
        //this.$.doLogin.body = JSON.stringify(loginData);
        //this.$.doLogin.generateRequest();
        console.log ("Petición Enviada")

      }

      addTransfer() {
        console.log("El usuario ha pulsado el botón");
        console.log(this.accountid);
        //this.accountid=data.detail.id;
        //sessionStorage.setItem('accountId', data.detail.id);
        document.querySelector("dashboard-app").page = "add-transfer";


        //this.$.doLogin.body = JSON.stringify(loginData);
        //this.$.doLogin.generateRequest();
        console.log ("Petición Enviada")

      }

      manageAJAXResponse(data){
        console.log("Recibida respuesta del servidor de movimientos");
        console.log(data.detail.response.data);

        //url="http://localhost:3000/backend/private/v1/clients/5af081e2ae2cce16d6fdc486/accounts/5afc375de6fc6d14a857c3da/movements"
        this.movements = data.detail.response.data;

        //window.location.href = '/main';
        //this.loading = false;
      }

      showError(error){
         this.loading = false;
         console.log("Hubo un error");
         console.log(error.detail.request.response.msg);
         this.respuesta = error.detail.request.response.msg;
      }

      _eventVarChanged(accountId,b){
        this.accountid = accountId;
        this.IBAN = sessionStorage.getItem('accountIBAN');
        this.$.getMovementsIronAjax.generateRequest();
      }
    }

    window.customElements.define(GetMovements.is, GetMovements);
  </script>movements
</dom-module>
