<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/gold-password-input/gold-password-input.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">



<dom-module id="get-user">
  <template>
    <style>

    </style>

    <link rel="stylesheet" type="text/css" href="../../css/public_main_style.css">
  <!--  <link rel="stylesheet" type="text/css" href="../../css/public_main_responsive.css">-->

    <div  style="margin-top:68px;">
      <div class="single-team-member clearfix">
								<div class="image-box float-left">
									<img style="border-radius:50%;max-width: 85px;" src="../../images/default.jpg" alt="">
                </div>
                <div class="text-wrapper float-left" style="margin: 25px 0 0 15px;">
									<h6 class="name">{{first_name}} {{last_name}}</h6>
									<span>CEO, Canny Digital</span>
                </div>

    <!--  <button class="btn btn-link"><a href="/user/{{userid}}/accounts">Check my Accounts</a></button>-->
    </div>

        <iron-ajax
                id="getUserIronAjax"
                url="http://localhost:3000/backend/private/v1/clients/{{userid}}"
                content-type="application/json"
                headers= {{token}}
                auto =""
                handle-as="json"
                on-response="manageAJAXResponse"
                on-error="showError"
              >

  </template>

  <script>
    class GetUser extends Polymer.Element {
      static get is() { return 'get-user'; }
      static get properties() {
        return {
          first_name : {
            type: String
          }, last_name : {
            type: String
          }, userid : {
            type: String,
            value: sessionStorage.getItem('userId')
          }, email : {
            type: String
          }, respuesta : {
            type: String
          }, token: {
            type: Object,
            value: {"Authorization" : sessionStorage.getItem('token')}
          },loading:{
            type: Boolean,
            value: false
          }
        };
      }




      manageAJAXResponse(data){
        console.log("Recibida respuesta del servidor");
        console.log(data.detail.response);

        sessionStorage.setItem('token', data.detail.response.token);
        this.userid = data.detail.response.data.id;
        this.first_name = data.detail.response.data.first_name;
        this.last_name = data.detail.response.data.last_name;
        this.email = data.detail.response.data.email;

        //window.location.href = '/main';
        //this.loading = false;
      }

      showError(error){
         this.loading = false;
         console.log("Hubo un error");
         console.log(error.detail.request.response.msg);
         this.respuesta = error.detail.request.response.msg;
      }
    }

    window.customElements.define(GetUser.is, GetUser);
  </script>
</dom-module>
