<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/gold-password-input/gold-password-input.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../../bower_components/neon-animation/animations/scale-up-animation.html">
<link rel="import" href="../../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../../bower_components/simple-material-table/simple-material-table.html">

<dom-module id="get-accounts">
  <template>
    <style>
    .alert-error {
      background: #ffcdd2;
      border: 1px solid #f44336;
      border-radius: 3px;
      color: #333;
      font-size: 14px;
      padding: 10px;
    }
    </style>

    <link rel="stylesheet" type="text/css" href="../../css/public_main_style.css">
    <link rel="stylesheet" type="text/css" href="../../css/public_main_responsive.css">


    <paper-dialog id="modalAccountOps" entry-animation="scale-up-animation">
        <button type="button" class="close" style="padding: 10px;" data-dismiss="modal" aria-label="Close" dialog-confirm autofocus><span aria-hidden="true">×</span></button>
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Operations: {{IBAN}}</h4>
        </div>
        <div class="modal-body " style="width: 650px;height: 300px;">
          <a name="get-movements" href="/dashboard/get-movements" on-click="bar"><iron-icon icon="icons:pageview"></iron-icon>Manage Movements / Transfers</a></br>
          <a name="get-wallets" href="/dashboard/get-wallets" on-click="bar"><iron-icon icon="icons:account-balance-wallet"></iron-icon>Manage account wallets</a>
        </div>
    </paper-dialog>

    <div class="card">
      <simple-material-table id="demo" title="My Accounts" columns="[[columnas]]" table-data="{{accounts}}"  on-row-selected="_onRowSelected">
      </simple-material-table>
    </div>

    <div class="error-page" style="float: right;padding: 15px;color:white; cursor:pointer">
      <a on-click="createAccount">Add account</a>
    </div>

        <iron-ajax
                auto =""
                id="getAccountsIronAjax"
                url="http://localhost:3000/backend/private/v1/clients/{{userid}}/accounts"
                content-type="application/json"
                headers= {{token}}
                handle-as="json"
                on-response="manageAJAXResponse"
                on-error="showError"
              >
              <iron-ajax
                      id="addAccountIronAjax"
                      url="http://localhost:3000/backend/private/v1/clients/{{userid}}/accounts"
                      content-type="application/json"
                      method="POST"
                      headers= {{token}}
                      handle-as="json"
                      on-response="manageAddAccountAJAXResponse"
                      on-error="showError"
                    >
    </template>


  <script>
    class GetAccounts extends Polymer.Element {
      static get is() { return 'get-accounts'; }
      static get properties() {
        return {
            userid : {
            type: String,
            value: sessionStorage.getItem('userId')
          }, balance : {
            type: Number
          }, IBAN : {
            type: String
          }, accounts: {
            type: Array
          }, token: {
            type: Object,
            value: {"Authorization" : sessionStorage.getItem('token')}
          }, accountid : {
            type: String
          }, createAccountBody : {
            type: Object,
            value: {"balance":30000}
          },loading : {
            type: Boolean
          },page:{
            type: String
          }
        };
      }

      _onRowSelected(data) {
          console.log('_onRowSelected', data.detail);
          console.log('_onRowSelected', data.detail.IBAN);
          this.accountid=data.detail.id;
          sessionStorage.setItem('accountId', data.detail.id);
          this.IBAN =  data.detail.IBAN;
          sessionStorage.setItem('accountIBAN', data.detail.IBAN);
          this.$.modalAccountOps.open();
        }


      constructor() {
        super();
        this.columnas = [{
          title: "IBAN",
          number: false,
          column: 'IBAN',
          hidden: false
        }, {
          title: "Balance",
          number: true,
          column: 'balance',
          formatter: function (value) {
            return parseFloat(value).toFixed(0);
          },
          hidden: false
        }, {
          title: "idaccount",
          number: false,
          column: 'id',
          hidden: true
        }];


    }

    createAccount(){
      this.$.addAccountIronAjax.body = JSON.stringify(this.createAccountBody);
      console.log(this.$.addAccountIronAjax.body);
      this.$.addAccountIronAjax.generateRequest();
    }

    manageAddAccountAJAXResponse(data){
      console.log(data.detail.response.data);
        this.$.getAccountsIronAjax.generateRequest();
    }

      manageAJAXResponse(data){
        console.log("Recibida respuesta del servidor de cuentas");
        console.log(data.detail.response.data);

        sessionStorage.setItem('token', data.detail.response.token);
        this.accounts = data.detail.response.data;

        //window.location.href = '/main';
        //this.loading = false;
      }

      showError(error){
         this.loading = false;
         console.log("Hubo un error");
         console.log(error.detail.request.response.msg);
         this.respuesta = error.detail.request.response.msg;
      }

      bar(event){
        console.log(event.srcElement.name);

        this.dispatchEvent(
          new CustomEvent(
            "eventselectaccountaction",
            {
              "detail" : {
                "page" : event.srcElement.name
              }
            }
          )
        );
        //temporal
      //  window.location.href = event.srcElement.href;
      //  this.page = event.srcElement.name;
      }


    }

    window.customElements.define(GetAccounts.is, GetAccounts);
  </script>
</dom-module>
