<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/granite-qrcode-generator/granite-qrcode-generator.html">

<dom-module id="wallet-board">
  <template>

    <link rel="stylesheet" type="text/css" href="css/public_main_style.css">
    <link rel="stylesheet" type="text/css" href="css/public_main_responsive.css">

    <div class="modal-header">
      <h4 class="modal-title" id="myModalLabel">Wallet {{cointype}}</h4>
      <img style="width: 40px" src="../../images/coins/{{cointype}}.png">
    </div>
    <div class="modal-body " style="width: 650px;"  hidden$="{{loading}}">
      <div style="border-bottom: 1px solid #e9ecef;height: 110px;">
        <div style="float:left;padding: 30px;">
          <h5>Price unit: {{coinPrice}} €</h5>
          <h5>Wallet: {{walletcoins}} {{cointype}}</h5>
        </div>
        <div style="float:right">
          <granite-qrcode-generator data="{{walleturl}}" mode="alphanumeric" auto></granite-qrcode-generator>
        </div>
      </div>
      <div style="justify-content: center;padding: 30px;">
        <h4 style="color:blue;">{{walletBalance}}  €</h4>
      </div>
      <div class="modal-footer" style="justify-content: center;" hidden$="{{loading}}">
      <paper-input label="total"  value="{{amount::input}}" type="number">
        <div prefix>$</div>
      </paper-input>
      <div style="float:right;">
        <button type="button" class="btn btn-success" on-click="buyCoin">BUY</button>
      </div>
        <div style="float:left;">
         <button type="button" class="btn btn-warning" on-click="sellCoin">SELL</button>
       </div>
    </div>

      {{response}}
    </div>
    <div class="modal-body" style="width: 550px;height:200px;"  hidden$="{{!loading}}">
      <img src="../../images/catLoading.gif" height="170px">
    </div>

    <iron-ajax
            id="getCoinPriceIronAjax"
            url="http://localhost:3000/backend/public/v1/coinValue/{{cointype}}"
            content-type="aplication/text"
            auto =""
            on-response="manageAJAXResponsePrice"
            on-error="showErrorPrice"
          >

          <iron-ajax
                  id="buySellCoins"
                  url="http://localhost:3000/backend/private/v1/clients/{{userid}}/accounts/{{accountid}}/wallets"
                  content-type="application/json"
                  method="PUT"
                  headers= {{token}}
                  handle-as="json"
                  on-response="manageAJAXResponseOperation"
                  on-error="showErrorOperation"
                >
</template>
    <script>
      class WalletBoard extends Polymer.Element {
        static get is() { return 'wallet-board'; }
        static get properties() {
          return {
            userid : {
              type: String,
              value: sessionStorage.getItem('userId')
            }, accountid : {
              type: String,
              value: sessionStorage.getItem('accountId')
              }, token: {
              type: Object,
              value: {"Authorization" : sessionStorage.getItem('token')}
              }, coinPrice: {
                type: Number
              },walletBalance: {
                type: Number,
                computed: 'totalWalletBalance(walletcoins, coinPrice)'
              }, walletcoins: {
                type: Number
              },cointype: {
                type: String
              },walleturl: {
                type: String
              },idwallet: {
                type: String
              },amount: {
                type: Number
              },loading:{type: Boolean, value: false}
              ,response:{
                type: String
              },operation:{
                type: Number,
                value: 0
              }
            }
          }

          manageAJAXResponsePrice(data){
            console.log("Recibida resputa de precio coin");
            console.log(data.detail.response);
            this.coinPrice = data.detail.response;
          }

          manageAJAXResponseOperation(data){
            console.log("operacion completada");
            console.log(data.detail.response);
            if(this.operation > 0){
              console.log(this.walletcoins +" - (" + this.amount);
              this.walletcoins = this.walletcoins -  this.amount;
            }else{
              console.log(  this.walletcoins +" + ("+ this.amount +"/"+ this.coinPrice);
                this.walletcoins = this.walletcoins + (this.amount / this.coinPrice);
            }
            this.response = data.detail.response.data.msg;
            this.loading = false;
          }

          showErrorOperation(error){
              console.log(error.detail.error);
              this.response = "No se ha podido realizar la operacion / consulte fondos disponibles";
              this.loading = false;
          }

          totalWalletBalance(walletcoins, coinPrice){
            return parseFloat(walletcoins * coinPrice).toFixed(2);
          }

          showErrorPrice(error){
             this.loading = false;
             console.log("Hubo un error");
             console.log(error.detail.request);
             this.respuesta = error.detail.request;
          }

          buyCoin(){
            this.operation=0;
            var coinBuyData = {
              "id_account" : this.accountid,
              "id_client" : this.userid,
              "id_wallet" : this.idwallet,
              "coinType" : this.cointype,
              "order" : "buy",
              "amount" : Number(this.amount)
            };

            this.$.buySellCoins.body = JSON.stringify(coinBuyData);
            console.log(this.$.buySellCoins.body);
            this.$.buySellCoins.generateRequest();
            console.log ("Petición Enviada buy " + this.amount + " Coins");
            this.loading = true;
          }

          sellCoin(){
            this.operation = 1;
            var coinBuyData = {
              "id_account" : this.accountid,
              "id_wallet" : this.idwallet,
              "id_client" : this.userid,
              "coinType" : this.cointype,
              "order" : "sell",
              "amount" : Number(this.amount)
            };

            this.$.buySellCoins.body = JSON.stringify(coinBuyData);
            console.log(this.$.buySellCoins.body);
            this.$.buySellCoins.generateRequest();
            console.log ("Petición Enviada sell " + this.amount + " Coins");
            this.loading = true;
          }
        }


window.customElements.define(WalletBoard.is, WalletBoard);
</script>
</dom-module>
