<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/gold-password-input/gold-password-input.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">



<dom-module id="log-in">
  <template>
    <style>
    .alert-error {
      background: #ffcdd2;
      border: 1px solid #f44336;
      border-radius: 3px;
      color: #333;
      font-size: 14px;
      padding: 10px;
    }
    </style>

    <link rel="stylesheet" type="text/css" href="../../css/public_main_style.css">
    <link rel="stylesheet" type="text/css" href="../../css/public_main_responsive.css">

    <div class="modal-header">
      <h4 class="modal-title" id="myModalLabel">Log In</h4>
    </div>
    <div class="modal-body" style="width: 550px;height:200px" hidden$="{{loading}}">
      <template is="dom-if" if="[[respuesta]]">
        <p class="alert-error"><strong>Error:</strong> [[respuesta]]</p>
      </template>
      <paper-input label="Email" value="{{email::input}}" required>
        <iron-icon icon="mail" prefix></iron-icon>
      </paper-icon-button>
      </paper-input>
      <gold-password-input reveal value="{{password::input}}" required></gold-password-input>
    </div>
    <div class="modal-body" style="width: 550px;height:200px;" hidden$="{{!loading}}">
      <img src="../../images/catLoading.gif" height="170px">
    </div>
    <div class="modal-footer">
       <button type="button" class="btn btn-primary" on-click="logInAction">Log in</button>
    </div>

        <iron-ajax
                id="logInIronAjax"
                url="http://localhost:3000/backend/public/v1/login/"
                content-type="application/json"
                method="POST"
                handle-as="json"
                on-response="manageAJAXResponse"
                on-error="showError"
              >
  </template>

  <script>
    class LogIn extends Polymer.Element {
      static get is() { return 'log-in'; }
      static get properties() {
        return {
            email : {
            type: String
          }, password : {
            type: String
          }, respuesta : {
            type: String
          }, token: {
            type: String
          }, userid: {
            type: String
          },loading:{
            type: Boolean,
            value: false
          }
        };
      }

      logInAction () {
        console.log("El usuario ha pulsado el logInAction");

        this.loading = true;
        var loginData = {
          "email" : this.email,
          "password" : this.password
        };

        this.$.logInIronAjax.body = JSON.stringify(loginData);
        this.$.logInIronAjax.generateRequest();
        console.log ("Petición Enviada")

      }
      manageAJAXResponse(data){
        console.log("Recibida respuesta del servidor");
        console.log(data.detail.response.token);
        this.email = "";
        this.password="";
        this.userid=data.detail.response.data.id;
        sessionStorage.setItem('token', data.detail.response.token);
        sessionStorage.setItem('userId', data.detail.response.data.id);
        window.location.href =  "/dashboard/get-accounts";
        //this.loading = false;
      }

      showError(error){
         this.loading = false;
         console.log("Hubo un error");
         console.log(error.detail.request.response.msg);
         if(error.detail.request.response.msg)
          this.respuesta = error.detail.request.response.msg;
         else {
           this.respuesta = "Server error";
         }
      }
    }

    window.customElements.define(LogIn.is, LogIn);
  </script>
</dom-module>
