<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="page-not-found">
 <template>
   <style>
     :host {
       display: block;
     }
   </style>
   <link rel="stylesheet" type="text/css" href="../../css/public_main_style.css">
   <link rel="stylesheet" type="text/css" href="../../css/public_main_responsive.css">

   <header class="theme-menu-wrapper">
           <div class="container">
             <div class="main-header-menu-wrapper clearfix">
               <!-- Logo -->
               <div class="logo float-left">
                 <img style="max-width: 80px;" src="images/home/Logo.png" alt="Logo">
               </div>
               <div style="margin-left: 80px;">
                 <h1 class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                   Saveless Bank
                 </h1>
               </div>
             </div>
           </div>
         </header>
<div class="main-page-wrapper">
    <div id="theme-main-banner" class="banner-one camera_wrap" style="display: block; height: 950px;">
      <div class="camera_fakehover">
           <div class="camera_target">
             <div class="cameraCont">
               <div class="cameraSlide cameraSlide_1 cameracurrent" style="display: block; z-index: 999;">
                 <img src="images/home/slide-1.jpg" class="imgLoaded" data-alignment="" data-portrait="" width="1920" height="953" style="visibility: visible; height: 950px; margin-left: -165.478px; margin-right: -165.478px; margin-top: 0px; position: absolute; width: 1913.96px;">
                 <div class="camerarelative" style="width: 1583px; height: 950px;"></div>
               </div>
             </div>
           </div>
      <div class="container error-page">
   				<h2>404</h2>
   				<h3>Looks like somthing went wrong</h3>
   				<p>The page you are looking for was moved, removed, renamed or might never existed.</p>
   				<div>
   					<a href="/">Go Home</a>
   					<span class="or">Or</span>
   					<form action="#">
   						<input type="text" placeholder="Search...">
   						<button><i class="fa fa-search" aria-hidden="true"></i></button>
   					</form>
   				</div>
   		</div>
    </div>
  </div>
</div>
 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class PageNotFound extends Polymer.Element {
     static get is() { return 'page-not-found'; }
     static get properties() {
       return {
       };
     }
   }

   window.customElements.define(PageNotFound.is, PageNotFound);
 </script>
</dom-module>
