<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="public-main-header">
<template>
<h2>header</h2>
</template>

<script>
  /**
   * @customElement
   * @polymer
   */
  class PublicMain extends Polymer.Element {
    static get is() { return 'public-main-header'; }
    static get properties() {
      return {};
    }
  }

  window.customElements.define(PublicMainHeader.is, PublicMainHeader);
</script>
</dom-module>
