<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../../bower_components/neon-animation/animations/scale-up-animation.html">
<link rel="import" href="../../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="./sign-in.html">
<link rel="import" href="./log-in.html">

<dom-module id="public-main">
  <template>
    <style>
      :host {
        overflow: visible;
        margin-top:0px;
        }
    </style>

    <link rel="stylesheet" type="text/css" href="css/public_main_style.css">
    <link rel="stylesheet" type="text/css" href="css/public_main_responsive.css">

    <header class="theme-menu-wrapper">
    				<div class="container">
    					<div class="main-header-menu-wrapper clearfix">
    						<!-- Logo -->
    						<div class="logo float-left">
                  <img style="max-width: 80px;" src="images/home/Logo.png" alt="Logo">
                </div>
                <div style="margin-left: 80px;">
                  <h1 class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                    Saveless Bank
                  </h1>
                </div>
    					</div>
    				</div>
    			</header>

<div class="main-page-wrapper">
  <div id="theme-main-banner" class="banner-one camera_wrap" style="display: block; height: 950px;">
    <div class="camera_fakehover">

  <div class="camera_target">
    <div class="cameraCont">
      <div class="cameraSlide cameraSlide_1 cameracurrent" style="display: block; z-index: 999;">
        <img src="images/home/slide-2.jpg" class="imgLoaded" data-alignment="" data-portrait="" width="1920" height="953" style="visibility: visible; height: 950px; margin-left: -165.478px; margin-right: -165.478px; margin-top: 0px; position: absolute; width: 1913.96px;">
        <div class="camerarelative" style="width: 1583px; height: 950px;"></div>
      </div>
    </div>
  </div>
  <div class="camera_target_content">
    <div class="cameraContents">
      <div class="cameraContent cameracurrent" style="display: block;"><div class="camera_caption">
        <div>
						<div class="container">
							<h1 class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">Your Personal Bank <br> <span>Everywhere</span> </h1>
							<p class="wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">We have wide rang of loans and investmens for our customer.<br>It’s start low to high with low interest.</p>
							<button class="button-one"style="float: left;" on-click="openModalSignIn">Sign in</button>
							<button href="service-v1.html" class="button-two" on-click="openModalLogIn">Log in</button>
          	</div> <!-- /.container -->
					</div>
        </div>
      </div>
    </div>
  </div>
</div>

<paper-dialog id="modalSignIn" entry-animation="scale-up-animation">
    <button type="button" class="close" style="padding: 10px;" data-dismiss="modal" aria-label="Close" dialog-confirm autofocus><span aria-hidden="true">×</span></button>
    <sign-in></sign-in>
</paper-dialog>

<paper-dialog id="modalLogIn" entry-animation="scale-up-animation">
    <button type="button" class="close" style="padding: 10px;" data-dismiss="modal" aria-label="Close" dialog-confirm autofocus><span aria-hidden="true">×</span></button>
    <log-in></log-in>
</paper-dialog>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class PublicMain extends Polymer.Element {
      static get is() { return 'public-main'; }
      static get properties() {
        return {};
      }
        openModalSignIn(){
          this.$.modalSignIn.open();
        }

        openModalLogIn(){
          this.$.modalLogIn.open();
        }

      }
    window.customElements.define(PublicMain.is, PublicMain);
  </script>
</dom-module>
