<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/gold-password-input/gold-password-input.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">



<dom-module id="sign-in">
  <template>

    <link rel="stylesheet" type="text/css" href="../../css/public_main_style.css">
    <link rel="stylesheet" type="text/css" href="../../css/public_main_responsive.css">

    <div class="modal-header">
      <h4 class="modal-title" id="myModalLabel">Sign In</h4>
    </div>
    <div class="modal-body signIn" style="width: 550px;" hidden$="{{isSigned}}">
      <paper-input label="Name" value="{{first_name::input}}"></paper-input>
      <paper-input label="Surname" value="{{last_name::input}}"></paper-input>
      <paper-input label="Email" value="{{email::input}}">
        <iron-icon icon="mail" prefix></iron-icon>
      </paper-icon-button>
      </paper-input>
      <gold-password-input strength-meter reveal  value="{{password::input}}"></gold-password-input>
      <gold-password-input strength-meter reveal value="{{password2::input}}" label="Repeat your password"></gold-password-input>
    </div>
    <div class="modal-footer signIn" hidden$="{{isSigned}}">
       <button type="button" class="btn btn-primary" on-click="createUser">Sign in</button>
    </div>
    <div class="modal-body signedIn" style="width: 550px;" hidden$="{{!isSigned}}">
      <h4>Welcome {{createdName::input}} , your account is already created!</h4>
    </div>
<!--   </br>
    <span hidden$="{{!isSigned}}">Usuario Creado Satisfactoriamente</span>
  </br></br>-->

    <iron-ajax
            id="createUser"
            url="http://localhost:3000/backend/public/v1/clients/"
            content-type="application/json"
            method="POST"
            handle-as="json"
            on-response="manageAJAXResponse"
            on-error="showError"
          >
  </template>

  <script>
    class SignIn extends Polymer.Element {
      static get is() { return 'sign-in'; }
      static get properties() {
        return {
            email : {
            type: String
          }, password : {
            type: String
          }, first_name : {
            type: String
          }, last_name : {
            type: String
          }, respuesta : {
            type: String
          }, isSigned : {
            type: Boolean,
            value: false
          }, createdName : {
            type: String
          }
        };
      }

      createUser () {
        console.log("El usuario ha pulsado el botón");


        var userData = {
          "email" : this.email,
          "password" : this.password,
          "first_name" : this.first_name,
          "last_name" : this.last_name
        };

        this.$.createUser.body = JSON.stringify(userData);
        this.$.createUser.generateRequest();
        console.log ("Petición Enviada")

      }
      manageAJAXResponse(data){
        console.log("Recibida respuesta del servidor");
        console.log(data.detail.response.msg);
        console.log(data.detail.response);

        this.createdName=this.first_name;
        this.isSigned = true;
        this.respuesta=data.detail.response.msg;
        this.email = "";
        this.password="";
        this.password2="";
        this.first_name = "";
        this.last_name="";


      }

      showError(error){
         console.log("Hubo un error");
         console.log(error);
      }
    }

    window.customElements.define(SignIn.is, SignIn);
  </script>
</dom-module>
