<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/gold-password-input/gold-password-input.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">


<dom-module id="my-createuser">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>


    <div class="row">
      <h2 style="background-color:powderblue; color:rgba(0,7,30,0.5);" class="col-md-12">Alta de Usuario</h2>
    </div>
    <paper-input label="Nombre" value="{{first_name::input}}"></paper-input>
    <paper-input label="Apellidos" value="{{last_name::input}}"></paper-input>
    <paper-input label="Usuario" value="{{email::input}}">
      <iron-icon icon="mail" slot="prefix"></iron-icon>
      <div slot="suffix">@email.com</div>
    </paper-input>

    <gold-password-input strength-meter reveal  value="{{password::input}}"></gold-password-input>
    <gold-password-input strength-meter reveal value="{{password2::input}}" label="Repita la Password"></gold-password-input>

    </br>
    <span hidden$="{{!isLogged}}">Usuario Creado Satisfactoriamente</span>
    </br></br>
    <paper-button raised class="indigo" on-click="createUser">Enviar</paper-button>

    <iron-ajax
            id="createUser"
            url="http://localhost:3000/backend/public/v1/clients/"
            content-type="application/json"
            method="POST"
            handle-as="json"
            on-response="manageAJAXResponse"
            on-error="showError"
          >

  </template>

  <script>
    class CreateUser extends Polymer.Element {
      static get is() { return 'my-createuser'; }
      static get properties() {
        return {
            email : {
            type: String
          }, password : {
            type: String
          }, first_name : {
            type: String
          }, last_name : {
            type: String
          }, respuesta : {
            type: String
          }, isLogged : {
            type: Boolean,
            value: false
          }
        };
      }

      createUser () {
        console.log("El usuario ha pulsado el botón");


        var userData = {
          "email" : this.email,
          "password" : this.password,
          "first_name" : this.first_name,
          "last_name" : this.last_name
        };

        this.$.createUser.body = JSON.stringify(userData);
        this.$.createUser.generateRequest();
        console.log ("Petición Enviada")

      }
      manageAJAXResponse(data){
        console.log("Recibida respuesta del servidor");
        console.log(data.detail.response.msg);
        console.log(data.detail.response);
        //window.location ="/user/" + data.detail.response.idUsuario;

        this.isLogged = true;
        this.respuesta=data.detail.response.msg;
        this.email = "";
        this.password="";
        this.password2="";
        this.first_name = "";
        this.last_name="";
      }

      showError(error){
         console.log("Hubo un error");
         console.log(error);
      }
    }

    window.customElements.define(CreateUser.is, CreateUser);
  </script>
</dom-module>
